# Core dependencies
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.23
Werkzeug==2.0.1
requests>=2.26.0

# Telegram Bot
python-telegram-bot==13.7

# Utilities
python-dotenv==0.19.0
pytz

# Game-specific
Pillow>=8.3.2
numpy>=1.21.2

# Production (optional)
gunicorn

# Scheduler
APScheduler>=3.8.1

# Misc dependencies
certifi>=2021.5.30
charset-normalizer>=2.0.4
click>=8.0.1
idna>=3.2
importlib-metadata>=4.8.1
itsdangerous>=2.0.1
Jinja2>=3.0.1
MarkupSafe>=2.0.1
typing_extensions>=3.10.0.2
urllib3>=1.26.6
zipp>=3.5.0
